html {
    overflow-x: hidden;
}
body {
    background-image: url('beigeWave.svg'), url('darkWave.svg');
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: 100% 305px, 112% 500px;
    position: relative;
    overflow-x: hidden;
    font-family: Inter,Roboto,Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
}
* {
    box-sizing: border-box;
}
.page{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contentwrapper {
    max-width: 1200px;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position-x: 170px;
    background-position-y: 370px;
    color: rgb(51, 51, 51);
    display: block;
    margin: auto;
}
.homepagewrapper {
    width: 858px;
    margin: auto;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
}
@media (max-width: 1200px) {
    .homepagewrapper {
        width: 100%;
        max-width: 592px;
    }
}
@media (max-width: 486px) {
    .homepagewrapper {
        width: 100%
    }
}    

.para1 {
    max-width: 560px;
    margin: auto;
    background-image: url(linkCircleHighlight.svg);
    background-repeat: no-repeat;
    background-position-y: 55px;
    background-position-x: 390px;
}
@media (max-width: 1200px) {
    .para1 {
        background-size: 22%;
        background-position-x: -10px;
    }
}

header {
    font-family: Arial; 
    text-align: center; 
    margin-top: 10px;
    margin-left: 10px;
}

.maintextwrapper {
    margin: auto;
    max-width: 858px;
}

.maintext1 {
    font-size: 56px;
    text-align: left;
    background-image: url(landingUnderlineHighlight.svg);
    background-repeat: no-repeat;
    background-position-y: 49px;
}

@media (max-width: 1200px) {
    .maintext1 {
        font-size: 42px;
        line-height: 46px;
        text-indent: 0px;
        background-size: 27%;
        background-position-y: 35px;
    }
}
@media (max-width: 485px) {
    .maintext1 {
        font-size: 28px;
        line-height: 32px;
        background-position-y: 24px;
    }
}


.maintext2 {
    height: 80px;
    width: 700px;
    position: relative;
    left: 152.5px;
}
@media (max-width: 1200px) {
    .maintext2{
        left: 0px;
    }
}

.firstpar {
    text-align: left;
    font-size: 24px;
    font-weight: 600;

}
@media (max-width: 1200px) {
    .firstpar {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.01em;
    } 
}
@media (max-width: 374px) {
    .firstpar {
        font-size: 16px;
        line-height: 20px;
    }
}
.secondpar {
    font-size: 24px;
    font-weight: 600;
    max-width: 466px;
}

@media (max-width: 1200px) {
    .secondpar {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.01em;
    }
}
@media (max-width: 374px) {
    .secondpar {
        font-size: 16px;
        line-height: 20px;
    }
}
h2 {
    font-size: 42px;
    text-align: left;    
}
@media (max-width: 1200px) {
    
    h2 {
        font-size: 32px;
        text-align: left; 
        line-height: 40px;   
    }
}
@media (max-width: 486px) {
    h2 {
        font-size: 24px;
        text-align: left;
        line-height: 30px;
        letter-spacing: -0.02em;
    }
}
.h2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}
.mailinput {
    width: 858px;
    height: 350px;
    margin: auto;
    background-image: url('nugget.svg');
    background-size: 858px 350px;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 63px;
}
@media (max-width: 1200px) {
    .mailinput {
        width: 592px;
        height: 300px;
        background-size: 592px 300px;
        height: 300px;
        margin-top: 40px;
    }
}
@media (max-width: 486px) {
    .mailinput {
        background-size: 648px 323px;
        margin: 28px auto 0px;
        height: 323px;
        padding-top: 46px;
        position: relative;
    }
}
.forma {
    max-width: 858px;
}

.textColor {
    color: #f4dd6a;
}
.nugget1:hover {
    filter: brightness(105%);
}

.inputwrapper {
    width: 100%;
    max-width: 520px;
    padding: 15px;
    position: relative;
    display: flex;
    flex: 1 1 0%;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px !important;
    left: 165px;
}
@media (max-width: 1200px) {
    .inputwrapper {
        left: 30px;
        margin-top: 16px;
        padding-left: 30px;
        width: min(485px, 50vw + 130px);
    }
}
@media (max-width: 486px) {
    .inputwrapper {
        height: 40px;
        padding-left: 26px;
        width: auto;
    }
}
.mail {
    border-style: none;
    border-radius: 40px;
    width: min(520px, 100%);
    height: 48px;
    position: absolute;
    font-size: 18px;
    padding: 2px 2px 2px 32px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0em;
    font-style: normal;
}
@media (max-width: 1200px) {
    .mail {
        font-size: 16px;
        width: min(485px, 50vw + 212px);
    }
}

.mail:focus-visible {
    border-style: none;
    outline: 0px;
}
.button1 {
    padding: 8px;
    border-radius: 25px;
    width: 200px;
    height: 46px;
    background-color: rgb(51, 51, 51);
    color: white;
    font-size: 18px;
    position: absolute;
    right: -12px;
    top: 1px;
    bottom: 1px;
    border-color: rgb(51, 51, 51);
    border-style: hidden;
    font-weight: bolder;
}
@media (max-width: 1200px) {
    .button1 {
        right: -63px;
    }
}

.button1:hover {
    padding: 8px;
    border-radius: 25px;
    width: 200px;
    height: 46px;
    background-color: rgb(51, 51, 51);
    color: white;
    font-size: 18px;
    position: absolute;
    top: 1px;
    bottom: 1px;
    border-color: rgb(51, 51, 51);
    border-style: hidden;
    filter: brightness(150%);
    cursor: pointer;
    font-weight: bolder;
}
.agree {
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.55);
}
.privacy-policy {
    font-weight: 600;
}
.placeholder {
    margin-left: 15px;
}
.contentBox {
    padding: 12px;
    font-size: 14px;
} 
@media (max-width: 486px) {
    .contentBox {
        padding: 15px;
        font-size: 12px;
    }
}
input[type="checkbox"] {
    opacity: 0;
}

input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
}
input[type="checkbox"] + label::before {
    content:"";
    position: absolute;
    left: -30px;
    width: 20px;
    height: 20px;
    outline: 2px solid rgb(51, 51, 51);
    background: #f4dd6a;
    border-radius: 5px;
}
input[type="checkbox"]:checked + label::before {
    content:"";
    position: absolute;
    left: -30px;
    width: 20px;
    height: 20px;
    outline: 2px solid rgb(51, 51, 51);
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
}
input[type="checkbox"]:checked + label::after {
    content:"";
    position: absolute;
    left: -30px;
    width: 16px;
    height: 16px;
    border-radius: 5px;
    background-image: url('check.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 2px;
    background-position-y: 3px;
    
}
.headerWrapper {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
}
.textColorButton {
    color:rgb(51, 51, 51);
    padding: 10px;
}
.button {
    width: 278px;
    height: 202px;
    border-style: groove;
    border-width: 1px;
    border-radius: 25px;
    position: relative;
    background-color: white;
    margin-right: 15px;
    font-size: 18px;
    text-align: center;
}
@media (max-width: 1200px) {
    .button {
        width: 100%;
        height: 174px;
        padding: 16px 24px 32px;
        margin-top: 16px;
        max-width: 454px;
    }
}

.monthwrapper {
    font-size: 24px;
    padding: 20px;
    position: relative;
    color: #f4dd6a;
    justify-content: space-between;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    -webkit-box-pack: justify;
    width: 100%;
}
@media (max-width: 1200px) {
    .monthwrapper {
        padding: 0px;
    }
}
.day {
    font-size: 42px;
    position: relative;
    color: #f4dd6a;
}
.button:hover {
    width: 278px;
    height: 202px;
    border-style: solid;
    border-radius: 25px;
    border-width: 1px;
    position: relative;
    background-color: white;
    cursor: pointer;
    font-size: 18px;
    filter:brightness(115%)
}
@media (max-width: 1200px) {
    .button:hover {
        width: 100%;
        height: 174px;
        padding: 16px 24px 32px;
        margin-top: 16px;
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    width: 870px;
    padding-top: 25px;
    position: relative;
}
@media (max-width: 1200px) {
    .buttons {
        flex-flow: column wrap;
        width: 100%
    }
}
.centeredwrapper {
    display: flex;
    flex: 1 1 0%;
    flex-flow: row-nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 120px;
}
.buttonwrapper {
    position: absolute;
    margin: auto;
    width: 290px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.button2 {
    width: 278px;
    height: 60px;
    border-radius: 100px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    background-color: #333333;
    color: white;
    font-size: 125%;
    font-weight: bolder;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 1200px) {
    .button2 {
        flex: 1 1 0%;
        max-width: 454px;
    }
}

.button2:hover {
    width: 278px;
    height: 60px;
    border-radius: 100px;
    border-style: hidden;
    border-width: 2px;
    background-color: #333333;
    cursor: pointer;
    color: white;
    font-size: 125%;
    filter:brightness(115%);
    font-weight: bolder;
}
a {
    text-decoration: none;
    color: rgb(249, 246, 242);
}
footer {
    align-self: stretch;
}
@media (max-width: 900px) {
    footer {
        height: auto;
    }
}

.footWrapper {
    position: relative;
    font-family: Arial;
    padding-top: 50px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 14.85px;
    -webkit-box-pack: justify;
}
@media (max-width: 900px) {
    .footWrapper {
        flex-direction: column-reverse;
        
    }
}
.leftside {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (max-width: 900px) {
    .leftside {
        align-items: center;
        -webkit-box-align: center;
        margin-top: 48px;
    }
}
.rightside {
    text-align: right;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}
@media (max-width: 900px) {
    .rightside {
        align-items: center;
        -webkit-box-align: center;
    }
}
    
.authorwrapper {
    font-size: 14px;
    color: gray;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
@media (max-width: 900px) {
    .authorwrapper {
        display: none;
        left: 30px;
    }
}
 
.network {
    margin-bottom: 35px;
    width: 272px;
    display: flex;
    flex-direction: row;
    height: 32px;
    justify-content: space-between;
    margin-top: 25px;
    -webkit-box-pack: justify;
}
@media (max-width: 1200px) {
    .network {
        margin-top: 0px;
    }
}
.downlist {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    font-size: 14px;
}
@media (max-width: 486px) {
    .downlist {
        flex-direction: column;
    }
}

.customer {
    padding-left: 8px;
    padding-right: 8px;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    color: rgb(249, 246, 242);
}
@media (max-width: 486px) {
    .customer {
        border-right: none;
        width: 118px;
        text-align: center;
        border-bottom-width: 1px;
        padding: 8px 0px;
    }
}
.settings {
    padding-left: 8px;
    padding-right: 8px;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    color: rgb(249, 246, 242);
}
@media (max-width: 486px) {
    .settings { 
        border-right: none;
        width: 118px;
        text-align: center;
        border-bottom-width: 1px;
        padding: 8px 0px;
    }
}
.policy {
    padding-left: 8px;
    padding-right: 8px;
    border-width: 0px 1px 0px 0px;
    color: rgb(249, 246, 242);
    border-style: solid;
}
@media (max-width: 486px) {
    .policy {
        border-right: none;
        width: 118px;
        text-align: center;
        border-bottom-width: 1px;
        padding: 8px 0px;
    }
}
.details {
    padding-left: 8px;
    padding-right: 8px;
    color: rgb(249, 246, 242);
}
@media (max-width: 486px) {
    .details {
        border-right: none;
        width: 118px;
        text-align: center;
        padding: 8px 0px;
    }
}
.img2 {
    aspect-ratio: auto 212 / 54;
}
.nugget2:hover {
    filter: brightness(115%);
}
.leftheader {
    font-size: 18px;
    margin-top: 22px;
}
.about {
    margin-right: 40px;
    color: black;
}
.archive {
    color: black;
}
.learn {
    color: gray;
}
.learnmore {
    
}

.signup {
    max-width: 500px;
    text-align: left;
    margin: auto;
}
.telegram {
    width: 32px;
    height: 32px;
}
.twitter {
    width: 32px;
    height: 32px;
}
.linkedin {
    width: 32px;
    height: 32px;
}
.facebook {
    width: 32px;
    height: 32px;
}
.instagram {
    width: 32px;
    height: 32px;
}
.shinytelegram {
    width: 64px;
    height: 64px;
}
.shinytwitter {
    width: 64px;
    height: 64px;
}
.shinylinkedin {
    width: 64px;
    height: 64px;
}
.c {

}
.svg1 {
    margin: auto;
    justify-content: space-between;
    width: 637px;
    padding-top: 80px;
    padding-bottom: 80px;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
}
@media (max-width: 1200px) {

}

.shinytg {
    width: 163px;
    height: 163px;
    background-image: url(telegramFlourish.svg);
    background-position: center top -2px;
    background-repeat: no-repeat;
    background-size: 163px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
@media (max-width: 1200px) {
    .shinytg {
    width: 82px;
    height: 82px;
    background-size: 82px;
    }
}
.shinytw {
    width: 163px;
    height: 163px;
    background-image: url(twitterFlourish.svg);
    background-position: center top -2px;
    background-repeat: no-repeat;
    background-size: 163px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
@media (max-width: 1200px) {
    .shinytw {
    width: 82px;
    height: 82px;
    background-size: 82px;
    }
}
.shinylkdn {
    width: 163px;
    height: 163px;
    background-image: url(linkedInFlourish.svg);
    background-position: center top -2px;
    background-repeat: no-repeat;
    background-size: 163px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
@media (max-width: 1200px) {
    .shinylkdn {
    width: 82px;
    height: 82px;
    background-size: 82px;
    }
}
